@mixin x-small() {
  @media only screen and (max-width: 420px) {
    @content;
  }
}

@mixin small() {
  @media only screen and (max-width: 1079px) {
    @content;
  }
}

@mixin ipad-pro-portrait() {
  @media only screen and (min-device-width: 1023px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    @content;
  }
}

@mixin tablet-and-lower() {
  @media only screen and (max-width: 820px) {
    @content;
  }
}

@mixin mobile() {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin medium-and-lower() {
  @media only screen and (max-width: 1439px) {
    @content;
  }
}

@mixin medium() {
  @media only screen and (max-width: 1439px) {
    @content;
  }
}

@mixin medium-and-higher() {
  @media only screen and (min-width: 1080px) {
    @content;
  }
}

@mixin large() {
  @media only screen and (min-width: 1440px) and (max-width: 1999px) {
    @content;
  }
}

// COLORS
/* Put in your brand colors here */
$black: #101111;
$white: #ece6dc;
$yellow: #e6ad18;
$green: #31b798;
$orange: #c65a28;
$blue: #1d4078;

// FONTS
/* Import your fonts here */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@300;400;500;600&display=swap&family=Manrope:wght@300;400&family=Victor+Mono&display=swap");
@import url("https://use.typekit.net/lon6pcr.css");

$header-font-family: "Lexend Zetta", sans-serif;;
$header-font-style: normal;

$subhead-font-family: "Lexend Zetta", sans-serif;
$subhead-font-weight: 400;
$subhead-medium-font: 500;
$subhead-bold-weight: 700;
$subhead-font-style: normal;

$eyebrow-font-family: "Lexend Zetta", sans-serif;
$eyebrow-font-weight: 400;
$eyebrow-font-style: normal;

$body-font-family: degular, sans-serif;
$body-font-weight: 300;
$body-font-style: normal;

// OTHER SET STYLES
$border: 2px solid $black;

// TRANSITIONS
/*
$transition: 0.5s linear;
$background-transition: background $transition;
*/

// GRID
$one-forty-eighth: calc(100vw / 48);
$one-twenty-fourth: calc(100vw / 24);
$one-twelfth: calc(100vw / 12);
$two-twelfths: calc(100vw * 2 / 12);
$three-twelfths: calc(100vw * 3 / 12);
$four-twelfths: calc(100vw * 4 / 12);
$five-twelfths: calc(100vw * 5 / 12);
$six-twelfths: calc(100vw * 6 / 12);
$seven-twelfths: calc(100vw * 7 / 12);
$eight-twelfths: calc(100vw * 8 / 12);
$nine-twelfths: calc(100vw * 9 / 12);
$ten-twelfths: calc(100vw * 10 / 12);
$eleven-twelfths: calc(100vw * 11 / 12);
$full: 100%;

@mixin grid-wrap {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  @include small() {
    grid-template-columns: repeat(4, 1fr);
  }
}

@mixin one-twelfth {
  grid-column: span 1;
}
@mixin two-twelfths {
  grid-column: span 2;
}
@mixin three-twelfths {
  grid-column: span 3;
}
@mixin four-twelfths {
  grid-column: span 4;
}
@mixin five-twelfths {
  grid-column: span 5;
}
@mixin six-twelfths {
  grid-column: span 6;
}
@mixin seven-twelfths {
  grid-column: span 7;
}
@mixin eight-twelfths {
  grid-column: span 8;
}
@mixin nine-twelfths {
  grid-column: span 9;
}
@mixin ten-twelfths {
  grid-column: span 10;
}
@mixin eleven-twelfths {
  grid-column: span 11;
}
@mixin full {
  grid-column: span 12;
  @include small() {
    grid-column: span 4;
  }
  @include x-small() {
    grid-column: span 4;
  }
}

// MIXINS FOR FONTS

@mixin header-font() {
  font-family: $header-font-family;
  font-style: $header-font-style;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}

@mixin subhead-font() {
  font-family: $subhead-font-family;
  font-weight: $subhead-font-weight;
  font-style: $subhead-font-style;
}

@mixin subhead-bold() {
  font-family: $subhead-font-family;
  font-weight: $subhead-bold-weight;
  font-style: $subhead-font-style;
}

@mixin body-font() {
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-style: $body-font-style;
  font-size: calc(11pt + (14 - 11) * ((100vw - 300px) / (1600 - 300)));
  line-height: 115%;
  @include mobile() {
    font-size: calc(12pt + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
    line-height: 120%;
  }
}

@mixin eyebrow-font() {
  font-family: $eyebrow-font-family;
  font-weight: $eyebrow-font-weight;
  font-style: $eyebrow-font-style;
}

@mixin h1() {
  @include header-font();
  font-size: 120pt;
  font-size: calc(35pt + (120 - 52) * ((100vw - 300px) / (1600 - 300)));
  line-height: 95%;
  @include large() {
    font-size: 120pt;
    font-size: calc(52pt + (120 - 60) * ((100vw - 300px) / (1600 - 300)));
  }
  @include x-small {
    font-size: 52pt;
    font-size: calc(38pt + (110 - 38) * ((100vw - 300px) / (1600 - 300)));
  }
}

@mixin h2() {
  font-size: calc(50pt + (70 - 50) * ((100vw - 300px) / (2100 - 300)));
  line-height: 100%;
  margin: 0;
  text-transform: uppercase;
  @include mobile {
    font-size: calc(35pt + (50 - 35) * ((100vw - 300px) / (2100 - 300)));
  }
}

@mixin h3() {
  font-size: calc(50pt + (65 - 50) * ((100vw - 300px) / (1600 - 300)));
  line-height: 100%;
  @include x-small {
    font-size: 34pt;
    font-size: calc(34pt + (64 - 34) * ((100vw - 300px) / (1600 - 300)));
  }
}

@mixin h4() {
  font-size: 46pt;
  font-size: calc(28pt + (46 - 28) * ((100vw - 300px) / (1600 - 300)));
  line-height: 105%;
  @include x-small {
    font-size: calc(40pt + (50 - 40) * ((100vw - 300px) / (1600 - 300)));
  }
}

@mixin h5() {
  font-size: 16pt;
  font-size: calc(18pt + (34 - 18) * ((100vw - 300px) / (1600 - 300)));
  line-height: 110%;
  @include x-small {
    font-size: 26pt;
    font-size: calc(26pt + (40 - 26) * ((100vw - 300px) / (1600 - 300)));
  }
}

@mixin h6() {
  font-size: 18pt;
  font-size: calc(10pt + (18 - 10) * ((100vw - 300px) / (1600 - 300)));
  line-height: 120%;
  @include x-small {
    font-size: 24pt;
    font-size: calc(17pt + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
    line-height: 120%;
  }
}

@mixin subhead-one() {
  @include subhead-font();
  font-size: 26pt;
  font-size: calc(20pt + (26 - 20) * ((100vw - 300px) / (1600 - 300)));
  text-transform: uppercase;
  @include tablet-and-lower {
    font-size: calc(16pt + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
  }
}

@mixin subhead-two() {
  @include subhead-font();
  font-size: 18pt;
  font-size: calc(12pt + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
  text-transform: uppercase;
}

@mixin subhead-three() {
  @include subhead-font();
  font-size: calc(11pt + (13 - 11) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
}

@mixin subhead-four() {
  @include subhead-font();
  font-size: calc(8pt + (11 - 8) * ((100vw - 300px) / (1600 - 300)));
  line-height: 120%;
  text-transform: uppercase;
}

@mixin body-one() {
  // TWEAK LATER
  // @include body-font();
  // font-size: 10pt;
  // font-size: calc(7pt + (10 - 7) * ((100vw - 300px) / (1600 - 300)));
  // line-height: 120%;
}

@mixin body-two() {
  @include body-font();
  font-size: 14pt;
  font-size: calc(8pt + (14 - 8) * ((100vw - 300px) / (1600 - 300)));
  line-height: 110%;
  @include tablet-and-lower() {
    font-size: 16pt;
    font-size: calc(10pt + (16 - 10) * ((100vw - 300px) / (1600 - 300)));
  }
}

@mixin body-three() {
  // TWEAK LATER
  // @include body-font();
  // font-size: 10pt;
  // font-size: calc(7pt + (10 - 7) * ((100vw - 300px) / (1600 - 300)));
  // line-height: 120%;
}

@mixin subtitle-bold() {
  @include subhead-bold();
  font-size: 20pt;
  font-size: calc(12pt + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: 170%;
  text-transform: none;
  @include x-small {
    font-size: 14pt;
    font-size: calc(12pt + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: 110%;
  }
}

@mixin subtitle-regular() {
  @include subhead-font();
  font-size: 20pt;
  font-size: calc(12pt + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: 170%;
  text-transform: none;
  @include x-small {
    font-size: 14pt;
    font-size: calc(12pt + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: 110%;
  }
}

@mixin eyebrow() {
  @include eyebrow-font();
  text-transform: uppercase;
  font-size: calc(14pt + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: 170%;
  @include small {
    font-size: calc(12pt + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
  }
  @include x-small {
    font-size: 14pt;
    font-size: calc(10pt + (14 - 10) * ((100vw - 300px) / (1600 - 300)));
  }
}

@mixin micro() {
  @include body-font();
  font-size: calc(10pt + (14 - 10) * ((100vw - 300px) / (1600 - 300)));
  line-height: 100%;
  text-transform: lowercase;
  @include tablet-and-lower {
    font-size: calc(14pt + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
  }
  @include x-small {
    font-size: 14pt;
    font-size: calc(14pt + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
  }
}

// SHADOWS //
@mixin primary-default-shadow() {
  box-shadow: 0px 4px 32px rgba(79, 10, 13, 0.1);
}

@mixin primary-hover-shadow() {
  box-shadow: 0px 8px 40px rgba(79, 10, 13, 0.15);
}

@mixin secondary-default-shadow() {
  box-shadow: 0px 4px 16px rgba(23, 45, 23, 0.15);
}

@mixin secondary-default-hover-shadow() {
  box-shadow: 0px 8px 24px rgba(23, 45, 23, 0.2);
}

// Buttons //
@mixin button() {
  @include subhead-font();
  font-size: calc(8pt + (11 - 8) * ((100vw - 300px) / (1600 - 300)));
  letter-spacing: 0;
  line-height: 120%;
  text-transform: uppercase;
  @include x-small {
    font-size: 8pt;
  }
}

// Flexbox// --------------------------------------------------
// Flexbox SASS mixins
// The spec: http://www.w3.org/TR/css3-flexbox
// --------------------------------------------------

// Flexbox display
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
  -moz-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
  -moz-flex-flow: $flow;
  -ms-flex-flow: $flow;
  flex-flow: $flow;
}

// Display Order
// - applies to: flex items
// <integer>
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

// Flex grow factor
// - applies to: flex items
// <number>
@mixin flex-grow($grow) {
  -webkit-flex-grow: $grow;
  -moz-flex-grow: $grow;
  -ms-flex-grow: $grow;
  flex-grow: $grow;
}

// Flex shrink
// - applies to: flex item shrink factor
// <number>
@mixin flex-shrink($shrink) {
  -webkit-flex-shrink: $shrink;
  -moz-flex-shrink: $shrink;
  -ms-flex-shrink: $shrink;
  flex-shrink: $shrink;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width>
@mixin flex-basis($width) {
  -webkit-flex-basis: $width;
  -moz-flex-basis: $width;
  -ms-flex-basis: $width;
  flex-basis: $width;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around
@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
  -moz-justify-content: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify;
  -ms-flex-pack: $justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch
@mixin align-content($align) {
  -webkit-align-content: $align;
  -moz-align-content: $align;
  -ms-align-content: $align;
  align-content: $align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
@mixin align-items($align) {
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  align-items: $align;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch
@mixin align-self($align) {
  -webkit-align-self: $align;
  -moz-align-self: $align;
  -ms-align-self: $align;
  align-self: $align;
}

// Mixin
@mixin transform($transforms...) {
  // combine the passed transforms into a space separated list
  $transform-list: join($transforms, null, space);

  // print out the transforms
  -webkit-transform: $transform-list;
  -moz-transform: $transform-list;
  -ms-transform: $transform-list;
  -o-transform: $transform-list;
  transform: $transform-list;
}

@mixin rotated-text(
  $num-letters: 100,
  $angle-span: 180deg,
  $angle-offset: 0deg
) {
  $angle-per-char: $angle-span / $num-letters;
  @for $i from 1 through $num-letters {
    .char#{$i} {
      @include transform(rotate($angle-offset + $angle-per-char * $i));
    }
  }
}
